
#main-menu-wrapper {
	background-color: #1A6E94;
	border-bottom: 10px solid #035073;
	
	#main-menu {
		text-align: center;
	}
	
	.menu {
		margin: 0 auto;
		li {
			a {
				font-size: 16px;
				font-weight: bold;
			}
			
			&.logo {
				position: absolute;
				top: -20px;
				
				&:hover {
					background-color: transparent;
				}
				
				a {
					background: url('https://2016.bucharest.wordcamp.org/files/2016/06/logo.png') no-repeat center center;
					height: 321px;
					text-indent: -9999999px;
					width: 268px;
				}
			}
			
			&.after-logo {
				margin-left: 268px;
			}
			
			&.current-menu-item,
			&:hover {
				background: url('https://2016.bucharest.wordcamp.org/files/2016/06/menu_arrow.png') no-repeat center 37px transparent;
				color: #035073;
				
				a {
					color: #035073;
				}
			}
			
			@media screen and(max-width: 1080px) {
				&.logo {
					a {
						background-size: 100%;
						height: 160px;
						width: 100px;
					}
				}
				
				&.after-logo {
					margin-left: 100px;
				}
			}
			
			
			@media screen and(max-width: 880px) {
				&.logo {
					display: none;
				}
				
				&.after-logo {
					margin-left: 0px;
				}
			}
			
			@media screen and(max-width: 780px) {
				a {
					font-size: 14px;
				}
			}
			
		}
		
		.sub-menu {
			li {
				border: 0px;
				
				a {
					color: #fff;
				}
			}
		}
	}
}

#header-container {
	height: 600px;
	
	#header {
		display: none;
	}
}

#before-content {
	.central-buttons {
		height: auto;
		padding-bottom: 20px;
		
		#icon {
			display: block;
		}
		
		.fa {
			margin: 0px;
			
			&:before {
				background-color: transparent;
				font-size: 60px;
			}
		}
		
		#central {
			margin: 0px;
			position: relative;
		}
	}
	
	#central-1 {
		.fa {
			&:before {
				background-color: #002b7f;
			}
		}
	}
	
	#central-2 {
		.fa {
			&:before {
				background-color: #fcd116;
			}
		}
	}
	
	#central-3 {
		.fa {
			&:before {
				background-color: #ce1126;
			}
		}
	}
	
}