#header-container {
    color: #fff;
    background: url('https://2016.bucharest.wordcamp.org/files/2016/06/074_panorama_by_lestatis-d5m7p5t.jpg') !important;
}

img[src*="path"] {
    display: none!important;
}

#after-header {
	  background-color:#002B7F;
	  position: absolute;
    max-width: 100%;
    right: 0;
    left: 0;
	  display: flex;
}

#after-header-1 {
  width: 50%;
  display: table-cell !important;
  padding: 1em;
}
#after-header-2 {
  width: 50%;
  display: table-cell;
  padding: 1em;
}

#widgetafterheader1 {
	float: right;
}


#widgetafterheader1, #widgetafterheader2{
  width: 100%;
  padding: 10px;
	background-color: #002B7F;
}

#after-header-container {
	  margin-top: -45px;
    margin-right: -50px;
    margin-left: -50px;
}

.widgetafterheader-title {
    font-size: 18px;
    color: #fff;
    font-family: nunito;
    text-align: right !important;    
}

.widgetafterheader-text {
  color: #ffffff;
  font-size: 13px;
  font-family: open-sans;
  font-style: italic!important;
  text-align: right !important;
}

.widgetafterheader-cta {
  font-family: nunito;
  color: #ffffff !important;
  font-size: 18px;
  text-decoration: none !important;
  background-color: #e14a25;
  padding: 10px;
  border-radius: 5px;
  display: inline-block!important;
	float: left;
	margin-bottom: -1.5em;

	width:200px;
	border:solid 1px #D94E3B;
	-webkit-box-shadow: 0px 5px 0px #84261a;
        -moz-box-shadow: 0px 5px 0px #84261a;
        box-shadow: 0px 5px 0px #84261a;
}

#before-content {
	    margin-top: -20px;
	    position: relative;
}

#before-content-container {
	display: flex;
	margin-top: 135px;
	margin-bottom: 30px;
	position: relative;
}

#icon {
	display: none;
}
.central {
	  background-color: #c3dce6;
}
.before-content .xoxo li .textwidget {
	  font-family: open-sans;
	  font-size: 15px;
}
.before-content .xoxo li:nth-child(odd) {
	  background-color: transparent;
}

.fa-star:before {
    color: #fff;
	  background-color: black;
    border-radius: 100px;
    padding: 10px;
}
.fa-microphone:before {
    color: #fff;
    background-color: black;
    border-radius: 100px;
    padding: 10px;
}

.fa-users:before {
    color: #fff;
    background-color: black;
    border-radius: 100px;
    padding: 10px;
}

@media screen and (max-width: 727px) {
	.menu-header {
		max-width: 100%;
	}
	
	#header-container:before {
		content: "";
		background: url('https://2016.bucharest.wordcamp.org/files/2016/06/logo.png') no-repeat center center;
		height: 150px;
		width: 125px;
		position: absolute;
		left: calc(50% - 75px);
		top: 0;
		background-size: contain;
		z-index: 1040;
	}
	
	#main-menu-wrapper .menu:before {
		font-family: FontAwesome;
		content: "\f0c9";
		color: #ffffff;
		font-size: 37px;
		position: absolute;
		top: 7px;
		left: 17px;
		cursor: pointer;
	}
	
	#main-menu-wrapper .menu {
		position: relative;
		width: 100%;
		height: auto;
		padding-top: 60px;
		background: #055f82;
		height: 30px;
		padding-bottom: 5px;
		overflow: hidden;
		z-index: 1020;
		cursor: pointer;
	}
	
	#main-menu-wrapper .menu:hover,
					#main-menu-wrapper .menu:focus,
					#main-menu-wrapper .menu:active {
		height: auto;
		padding-bottom: 30px;
	}
	
	#main-menu ul li {
		width: 100%;
		line-height: 30px;
		text-align: left;
	}
	
	#main-menu ul li .sub-menu {
		position: relative;
		display: block;
		min-width: 100%;
		background: transparent;
		text-indent: 17px;
	}
	
	#main-menu-wrapper {
		background-color: #1A6E94;
		border-bottom: 3px solid #035073;
	}
	
	#main-menu-wrapper .menu li.current-menu-item, #main-menu-wrapper .menu li:hover {
		background: #0b526d;
	}
}
