#before-buttons {
	margin: -1em;
	border-spacing: 1em;
}
.central-buttons {
	width: 33.3%;
	display: table-cell;
	padding: 1em;
	border-radius: 5px;
}
#topbar1 {
	background-color: #002B7F;
	border-bottom: 2px solid darken(#002B7F, 20%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0px;
}
#topbar2 {
	background-color: #FCD116;
	border-bottom: 2px solid darken(#FCD116, 20%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0px;
}
#topbar3 {
	background-color: #CE1126;
	border-bottom: 2px solid darken(#CE1126, 20%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0px;
}

#central {
	margin-top: -20px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.call-to-action {
	background-color: #CF656E;
	font-family: verdana;
	font-size: 20px;
	color: #ffffff;
	padding: 8px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	font-style: bold;
	text-decoration: none;
}
.widget-title {
	text-align: center;
	font-size: 24px;
	font-family: trebuchet ms;
	padding: 20px;
}
.textwidget {
	text-align: center;
	font-family: arial;
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
}

.widgetafterheader {
  width: 50%;
  display: table-cell;
  padding: 1em;
}
​
.before-widgetafterheader {
  background-color: #002B7F;
}
​
#widgetafterheader1, #widgetafterheader2{
  width: 10%;
  padding: 20px;
}
​
.widgetafterheader-title {
    font-size: 24px;
    color: #ffffff;
    font-family: nunito;
    text-align: right;    
}
​
.widgetafterheader-text {
  color: #ffffff;
  font-size: 14px;
  font-family: open-sans;
  font-style: italic;
  text-align: right;
}
​
.widgetafterheader-cta {
  font-family: nunito;
  color: #ffffff !important;
  font-size: 20px;
  text-decoration: none !important;
  background-color: #CE1126;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
}

@media screen and (max-width: 780px) { 
	.central-buttons {
    display: block !important;
    width: 100% !important;
	}
}

@media screen and (max-width: 780px) { 
	.widgetafterheader-cta {
		margin-left: -70px;
		margin-top: -10px;
	}
}
.entry-title {
    font-family: nunito;
}
#content {
	font-family: open-sans;
}

.widget1-calltoaction {
	  background-color: #e14a25;
    border: solid 1px #D94E3B;
    padding: 10px;
    color: #fff;
    font-family: nunito;
    border-radius: 5px;
    font-size: 18px;
	  box-shadow: 0 5px 0 #84261a;
}
.widget1-title {
    font-size: 24px;
    font-family: nunito;
}
.widget1-content {
	font-family: opens-sans;
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sponsor-level-title {
	  font-size: 20px;
}
#before-footer-wrapper {
	  display:none;
}
