@charset "UTF-8";
#before-buttons {
  margin: -1em;
  border-spacing: 1em; }

.central-buttons {
  width: 33.3%;
  display: table-cell;
  padding: 1em;
  border-radius: 5px; }

#topbar1 {
  background-color: #002B7F;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0px; }

#topbar2 {
  background-color: #FCD116;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0px; }

#topbar3 {
  background-color: #CE1126;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0px; }

#icon {
  width: 40px;
  height: 40px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px; }

#central {
  height: 200px;
  margin-top: -20px;
  background-color: #c3dce6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.call-to-action {
  background-color: #CF656E;
  font-family: verdana;
  font-size: 20px;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-style: bold;
  text-decoration: none; }

.widget-title {
  text-align: center;
  font-size: 24px;
  font-family: trebuchet ms;
  padding: 20px; }

.textwidget {
  text-align: center;
  font-family: arial;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px; }

.widgetafterheader {
  width: 50%;
  display: table-cell;
  padding: 1em; }

​
.before-widgetafterheader {
  background-color: #002B7F; }

​
#widgetafterheader1, #widgetafterheader2 {
  width: 10%;
  padding: 20px; }

​
.widgetafterheader-title {
  font-size: 24px;
  color: #ffffff;
  font-family: nunito;
  text-align: right; }

​
.widgetafterheader-text {
  color: #ffffff;
  font-size: 14px;
  font-family: open-sans;
  font-style: italic;
  text-align: right; }

​
.widgetafterheader-cta {
  font-family: nunito;
  color: #ffffff !important;
  font-size: 20px;
  text-decoration: none !important;
  background-color: #CE1126;
  padding: 10px;
  border-radius: 20px;
  display: inline-block; }
